In [1]:
# p0 = '/home/saaket/lmm-agents/logs/2024_4_6/answers_debate_20240604_152825.json'
# p1 = '/home/saaket/lmm-agents/logs/2024_4_6/answers_debate_20240604_195043.json'
# p2 = '/home/saaket/lmm-agents/logs/2024_5_6/answers_debate_20240604_195043.json'
# p3 = '/home/saaket/lmm-agents/logs/2024_5_6/answers_debate_20240605_113515.json'
s0 = '/home/saaket/lmm-agents/logs/2024_4_6/answers_debate_20240604_152825.json'
s1 = '/home/saaket/lmm-agents/logs/2024_5_6/answers_debate_20240604_195043.json'
s2 = '/home/saaket/lmm-agents/logs/2024_5_6/answers_debate_20240605_113515.json'

b0 = '/home/saaket/lmm-agents/logs/2024_4_6/baseline_answers_20240604_152825.json'
b1 = '/home/saaket/lmm-agents/logs/2024_5_6/baseline_answers_20240604_195043.json'
b2 = '/home/saaket/lmm-agents/logs/2024_5_6/baseline_answers_20240605_113515.json'

In [2]:
import json 
def open_log_file(file):
    with open(file, 'r') as f:
        data = json.load(f)
    return data

In [3]:
len(open_log_file(s0)) + len(open_log_file(s1)) + len(open_log_file(s2))

debate_answers = open_log_file(s0) + open_log_file(s1) + open_log_file(s2)
baseline_answers = open_log_file(b0) + open_log_file(b1) + open_log_file(b2)

assert len(debate_answers) == len(baseline_answers)

In [16]:
import pandas as pd 
import os 
def compile_in_hallusion_format():
    hallusion_path = '/data4/saaket/hallusion_bench/'
    data_file = os.path.join(hallusion_path, 'HallusionBench.json')
    with open(data_file, 'r') as f:
        data = json.load(f)
    df = pd.DataFrame(data)

    # drop entries from 1055 to 1065 (both inclusive) 
    df = df.drop(df.index[1054:1065])
    print(len(df))
    # check if length of df is equal to length of debate_answers
    debate_answers_df = df.copy()
    baseline_answers_df = df.copy()

    debate_answers_df['model_prediction'] = debate_answers
    baseline_answers_df['model_prediction'] = baseline_answers

    debate_answers_df = debate_answers_df.drop(debate_answers_df.index[1053:1054])
    baseline_answers_df = baseline_answers_df.drop(baseline_answers_df.index[1053:1054])

    # make dirs
    os.makedirs('output/gpt4v/debate_baseline', exist_ok=True)
    os.makedirs('output/gpt4v/debate', exist_ok=True)

    debate_answers_df.to_json('output/gpt4v/debate/HallusionBench_result.json', orient='records')
    baseline_answers_df.to_json('output/gpt4v/debate_baseline/HallusionBench_result.json', orient='records')

In [17]:
compile_in_hallusion_format()

1118

In [14]:
all_answers = open_log_file(p0) + open_log_file(p1) + open_log_file(p2) + open_log_file(p3)

# drop duplicates without destroying order
seen = set()
answers = [] 
for answer in all_answers:
    if answer not in seen:
        answers.append(answer)
        seen.add(answer)

In [16]:
len(answers)

933

In [1]:
import pandas as pd 

df = pd.read_json('/data4/saaket/hallusion_bench/HallusionBench.json')

In [10]:
from collections import Counter 
Counter(df[df['set_id'] == 0]['figure_id'])

Counter({0: 23, 1: 23, 2: 9})

In [14]:
unique_figure_columns = str(df['set_id']) + "_" + str(df['figure_id'])

In [23]:
df['unique_figure_columns'] = df['set_id'].astype(str) + "_" + df['figure_id'].astype(str) + "_" + df['sample_note'].astype(str)

In [16]:
df['unique_figure_columns'] = unique_figure_columns

In [24]:
df

,category,subcategory,visual_input,set_id,figure_id,sample_note,question_id,question,gt_answer_details,gt_answer,filename,unique_figure_columns
0,VS,chart,0,0,0,import,0,"Is China, Hongkong SAR, the leading importing ...",Switzerland is the leading importing country o...,0,None,0_0_import
1,VS,chart,0,0,0,import,1,"Is Switzerland, the leading importing country ...",Switzerland is the leading importing country o...,1,None,0_0_import
2,VS,chart,0,0,0,import,2,"Is France, the leading importing country of go...",Switzerland is the leading importing country o...,0,None,0_0_import
3,VS,chart,0,0,0,import,3,"Is the United States, the leading importing co...",Switzerland is the leading importing country o...,0,None,0_0_import
4,VS,chart,1,0,1,import,0,"Is China, Hongkong SAR, the leading importing ...",Switzerland is the leading importing country o...,0,./VS/chart/0_1.png,0_1_import
...,...,...,...,...,...,...,...,...,...,...,...,...
1124,VD,video,2,19,1,running,3,He is running clockwise. According to the posi...,The man is running clockwise.,1,./VD/video/19_1.png,19_1_running
1125,VD,video,2,19,2,running,0,According to the positive sequence of the imag...,The man is running counterclockwise.,1,./VD/video/19_2.png,19_2_running
1126,VD,video,2,19,2,running,1,According to the positive sequence of the imag...,The man is running clockwise.,1,./VD/video/19_2.png,19_2_running
1127,VD,video,2,19,2,running,2,He is running counterclockwise. According to t...,The images are not in correct order,0,./VD/video/19_2.png,19_2_running
1128,VD,video,2,19,2,running,3,He is running clockwise. According to the posi...,The images are not in correct order,0,./VD/video/19_2.png,19_2_running

In [25]:
df[df['unique_figure_columns'] == '0_0_import']

,category,subcategory,visual_input,set_id,figure_id,sample_note,question_id,question,gt_answer_details,gt_answer,filename,unique_figure_columns
0,VS,chart,0,0,0,import,0,"Is China, Hongkong SAR, the leading importing ...",Switzerland is the leading importing country o...,0,None,0_0_import
1,VS,chart,0,0,0,import,1,"Is Switzerland, the leading importing country ...",Switzerland is the leading importing country o...,1,None,0_0_import
2,VS,chart,0,0,0,import,2,"Is France, the leading importing country of go...",Switzerland is the leading importing country o...,0,None,0_0_import
3,VS,chart,0,0,0,import,3,"Is the United States, the leading importing co...",Switzerland is the leading importing country o...,0,None,0_0_import

In [33]:
df.sample_note.nunique()

139

In [40]:
random_sample.to_list()

['pi',
 'DC_metro',
 'phone_sales',
 'population growth',
 'simpson',
 'math_prob',
 'population',
 'china_export_us',
 'teen_population',
 'para_angle',
 'teen_population',
 'math_prob',
 'world_war2',
 'sqrt2',
 'duck',
 'teen_population',
 'line',
 'illusion',
 'Red Velvet',
 'math_prob',
 'usmap',
 'central_bank',
 'flow',
 'line',
 'circle',
 'square',
 'Kennedy',
 'Berlin',
 'NBA',
 'parking']

,category,subcategory,visual_input,set_id,figure_id,sample_note,question_id,question,gt_answer_details,gt_answer,filename,unique_figure_columns
24,VS,chart,0,2,0,teen_population,0,"From 2000-2050, is the population aged between...",the population aged between 15 and 29 years in...,0,None,2_0_teen_population
25,VS,chart,0,2,0,teen_population,1,"From 2000-2050, is the population aged between...",the population aged between 15 and 29 years in...,1,None,2_0_teen_population
26,VS,chart,0,2,0,teen_population,2,"From 2000-2050, is the population aged between...",the population aged between 15 and 29 years in...,0,None,2_0_teen_population
27,VS,chart,0,2,0,teen_population,3,"From 2000-2050, is the population aged between...",the population aged between 15 and 29 years in...,0,None,2_0_teen_population
28,VS,chart,0,2,0,teen_population,4,"From 2000-2050, is the population aged between...",the population aged between 15 and 29 years in...,0,None,2_0_teen_population
...,...,...,...,...,...,...,...,...,...,...,...,...
1069,VD,video,2,12,1,circle,1,According to the positive sequence of the imag...,The circle keeping in the same place.,1,./VD/video/12_1.png,12_1_circle
1070,VD,video,2,12,1,circle,2,According to the positive sequence of the imag...,The circle keeping in the same place.,0,./VD/video/12_1.png,12_1_circle
1071,VD,video,2,12,2,circle,0,According to the positive sequence of the imag...,The circle keeping in the same place.,0,./VD/video/12_2.png,12_2_circle
1072,VD,video,2,12,2,circle,1,According to the positive sequence of the imag...,The circle keeping in the same place.,1,./VD/video/12_2.png,12_2_circle
1073,VD,video,2,12,2,circle,2,According to the positive sequence of the imag...,The circle keeping in the same place.,0,./VD/video/12_2.png,12_2_circle